name: Build and deploy ASP.Net Core app to Azure Web App - izam

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.x'

      - name: Restore
        run: dotnet restore meritowebapp/meritowebapp.csproj

      - name: Build
        run: dotnet build meritowebapp/meritowebapp.csproj --configuration Release --no-restore

      - name: Publish
        run: dotnet publish meritowebapp/meritowebapp.csproj -c Release -o "${{ github.workspace }}\myapp" --no-build

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: dotnet-app
          path: ${{ github.workspace }}/myapp

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: dotnet-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_E7F714615A5B4C45A0D282319B2ECAD0 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_9F221602AB464311AF4AE93D64AD8326 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_49CE7F7C66794FA993885A5B021B5F29 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'izam'
          slot-name: 'Production'
          package: ./dotnet-app
